.start-container {
    height: 200px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 30px; /* Top and bottom 20px, left and right 30px */
    border-radius: 20px;
}

.start-container h1 {
    margin: 0;
    font-size: 24px;
}

.start-container p {
    margin: 20px 0; /* Margin on top and bottom of the paragraph */
    font-size: 16px;
}

.start-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px ;
    border: 5px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: lightblue;
}
